html {
    box-sizing: border-box;
}

*, 
*::before,
*::after {
    box-sizing: inherit;
}

:root{
    --special_yellow: #f7e296;
    --special_yellow_dark: #f0c52e;
    --basic_black: #000;
    --basic_white: #fff;
    --basic_white_opacity30: rgba(255, 255, 255, 0.3);
    --basic_black_opacity30: rgba(0, 0, 0, 0.3);
    --basic_grey: #e5e5e5;
    --basic_grey_light: #ebebeb;
    --basic_grey_input: #f2f2f2;
    --basic_grey_pag: #d9d9d9;
    --basic_grey_dark: #dcdcdc;    
    --basic_dark: #363636;
}

@font-face{
    font-family: "Gilroy";    
    font-style: normal;
    font-weight: 800;
    src: url("../fonts/gilroyextrabold.woff2") format("woff2"),
       url("../fonts/gilroyextrabold.woff") format("woff");
}

@font-face{
    font-family: "Gilroy";    
    font-style: normal;
    font-weight: 300;
    src: url("../fonts/gilroylight.woff2") format("woff2"),
        url("../fonts/gilroylight.woff") format("woff");
}

@font-face{
    font-family: "OpenSans";    
    font-style: normal;
    font-weight: 300;
    src: url("../fonts/opensanslight.woff2") format("woff2"),
       url("../fonts/opensanslight.woff") format("woff");
}

@font-face{
    font-family: "OpenSans";    
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/opensans.woff2") format("woff2"),
       url("../fonts/opensans.woff") format("woff");
}

html {
    height: 100%;
}

a {
    text-decoration: none; /* Убираем подчёркивание */
    color: var(--basic_black);
}

li {
    list-style-type: none; /* Убираем маркеры */
}

.no_list {
    padding-left: 0; 
    margin-top: 0;
    margin-bottom: 0;/* Убираем отступы у списков */
}

.visually_hidden {
    display: none;    
}

body {
	margin: 0;
  	font-family: "OpenSans", "Arial", sans-serif;
    font-weight: 300;
    font-size: 15px;
    line-height: 20px;
    min-height: 100%;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
}

.button {
    display: block;
    font-family: 'Gilroy', "Arial", sans-serif;
    font-weight: 800;
	font-size: 18px;
	line-height: 22px;
    min-width: 220px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.2em;    
    border-style: none;
    padding-top: 9px;
    padding-bottom: 9px;
    /*padding: 9px 10px;*/
    background: linear-gradient(transparent 40%, var(--special_yellow_dark) 40% 60%, transparent 40%);
}

.button:hover {
    background-color: var(--special_yellow_dark);
}

.button:active {
    color: var(--basic_black_opacity30);   
}

/* Шапка */

.header_page {
    width: 1160px;
    background-color: var(--special_yellow);
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding-left: 60px;
    padding-right: 60px;
    margin-top: 40px;
    padding-bottom: 130px;
}

.header_logo {
    display: inline-block; /* Ссылка не блочный элемент поэтому нельзя толкать от верха и низа*/
    margin-top: -20px;
    margin-bottom: 12px;

}

.header_logo:hover {
    opacity: 0.6;
}

.header_logo:active {
    opacity: 0.3;
}

.header_menu {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
    margin-bottom: 32px;
}

.header_search_form {
    display: flex;    
    position: relative;
    height: 50px;
    width: 440px; 
    border-bottom: 2px solid transparent;    
}

.search::before {  
    content: "";
    position: absolute; 
    z-index: 1;
    left: 60px;
    top: 45px;
    width: 14px;  
    height: 20px;  
    background: url(../img/svg/search.svg) no-repeat 50% 50%;    
}

.header_search_input {
    border: none;
    padding-left: 40px;
    outline: none;
    width: 355px;
    position: relative;
    opacity: 0.3;
    background: var(--special_yellow);
    border-bottom: 2px solid transparent;    
}

.header_search_input:hover {
    opacity: 0.6;  
}

.header_search_input:focus {
    opacity: 1;     
}

.header_search_button {
    display: none;
    text-transform: uppercase;
    background-color: transparent;
    border: 2px solid var(--basic_black);
    margin-bottom: -2px;
    width: 85px;    
}

.header_search_input:focus + .header_search_button {
    display: inline-block;       
}

.header_search_button:hover {
    color: var(--basic_white);
    background-color: var(--basic_black);
}

.header_search_button:active {
    display: inline-block;  /*Нужен, так как слетает фокус с инпута*/
    color: var(--basic_white_opacity30);
    background-color: var(--basic_black);  
}

.header_search_form:focus-within {
    border-bottom: 2px solid var(--basic_black); 
}

.header_search_form,
.header_menu_list {
    margin: 0;        
}

.header_menu_list {
    padding: 0;  
    align-items: center;  
}

.header_nav_menu {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
}

.nav_catalog {
    position: relative;
}

.nav_catalog,
.nav_list {
    margin: 0;
    padding-left: 0;    
    margin-bottom: 35px; 
}

.nav_list {
    padding-left: 10px;
}

.catalog_list {
    padding-left: 0; 
    display: none;
    padding-top: 20px;
}

.catalog_list .catalog_column {     
    margin-right: 60px;
    /*padding-left: 0;*/
    margin-bottom: 0;
}

.catalog_column li:not(:last-child) {
    margin-bottom: 20px;
}
.catalog_column li:last-child {
    margin-bottom: 45px;
}

.nav_catalog:hover .catalog_list {
    position: absolute;
    display: flex;
    z-index: 2;
    padding-left: 60px;    
    left: -60px;
    background-color: var(--special_yellow);
    margin: 0 auto;
    width: 1160px;    
}

.nav_list {
    display: flex; 
    flex-wrap: wrap;  
}

.nav_list li:not(:last-child) {
    margin-right: 35px;
}
.nav_list li:last-child {
    margin-left: auto;
}

.header_menu_list {
    display: flex;
    flex-wrap: wrap;
}

.header_menu_item a {
    display: flex;
}

.header_menu_item:last-child { /*Пересмотреть под каталог!!!!!*/
    margin-left: 40px;
}

.header_menu_item:first-child {
    margin-right: 20px;
}

.header_menu_list .header_menu_login { 
    margin-right: auto;    
}

.header_menu_item:first-child a::before {  /*Оставлено для вопроса о поведении элемента*/
    content: "";
    display: inline-block;  
    width: 20px;  
    height: 20px; 
    background: url(../img/svg/login.svg) no-repeat 50% 50%;    
}

.header_menu_compare a::before {  
    content: "";
    display: inline-block;  
    width: 20px;  
    height: 20px;  
    background: url(../img/svg/compare.svg) no-repeat 50% 50%;    
}

.header_menu_cart a::before {  
    content: "";
    display: inline-block;  
    width: 20px;  
    height: 20px;  
    background: url(../img/svg/cart.svg) no-repeat 50% 50%;    
}

.header_menu_item:first-child + .header_menu_login a {
    opacity: 0.3;
}

.catalog_header {
    position: relative;
    padding-right: 30px;
}

.catalog_header::after {
    content: "";
    position: absolute; 
    right: 0;
    width: 20px;  
    height: 20px;  
    background: url(../img/svg/cross_gray.svg) no-repeat 50% 50%; 
}


.header_menu_item:hover,
.catalog_item:hover,
.nav_item:hover,
.catalog_header:hover {
    opacity: 0.6;
}

.header_menu_item:active,
.catalog_item:active,
.nav_item:active,
.catalog_header:active {
    opacity: 0.3;
}

.catalog_header,
.nav_list,
.product_title,
.product_price {
    font-family: 'Gilroy', "Arial", sans-serif;
    font-weight: 800;
	font-size: 18px;
	line-height: 22px;
	text-transform: uppercase;
    letter-spacing: 0.2em;
}

/* Слайдер */

.slider_list {
    width: 1160px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
    position: relative;
    margin-top: -130px;
}

.slider_picture {
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider_block {
    padding-top: 35px; 
    padding-left: 10px;
}

.slide_header,
.slider_number {
    font-family: 'Gilroy', "Arial", sans-serif;
    font-weight: 800;	  
}

.slide_header{
    position: relative;
    z-index: 1;
	font-size: 47px;
	line-height: 58px;
    margin-top: 0;
    margin-bottom: 30px;   
}

.slide_header::before {
    content: "";
    display: block;
    width: 100px;
    height: 7px;
    margin-bottom: 50px;
    background-color: var(--basic_white);
}

.slider_number {
    color: var(--basic_white);
    font-size: 180px;
	line-height: 220px;
    position: absolute;
    right: 48px;
    top: -15px;    
}

.slider_line {
    margin-bottom: 50px;
}

.slider_pagination {
    position: absolute;
    right: 89px;
    bottom: 150px;
    display: flex;
}

.slider_pagination_item:not(:last-child) {
    margin-right: 18px;
}

.slider_button {
    background-image: url("../img/svg/slider_button_empty.svg");
    width: 12px;
    height: 12px;
    border: none;
    background-color: transparent;
}

.slider_button_active {
    background-image: url("../img/svg/slider_button.svg");
    width: 12px;
    height: 12px;
    border: none;
    background-color: transparent;
}

.slider_item {
    display: none;
    grid-template-columns: 1fr 1fr;
    padding-left: 60px;
    column-gap: 20px;
    margin-bottom: 50px; /*Дежурный отступ, убрать*/
}

.slider_active {
    display: grid;
}

.slide_text,
.slide_button {
    margin-bottom: 50px;
}

.slide_description {
    font-family: 'Gilroy', "Arial", sans-serif;
    font-weight: 300;
    letter-spacing: 0.1em;
    display: grid;	    
}

.slide_description dt {
    padding-top: 15px;
    font-size: 13px;
	line-height: 15px;   
}

.slide_description dd {
    grid-row: 1;
    margin-left: 0;
    font-size: 36px;
	line-height: 42px;   
}

/* Категории товаров */

.popular {
    margin-bottom: 65px;  
}

.popular_list {
    width: 1160px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    column-gap: 40px;
    padding: 0;
}

.popular_item {    
    padding: 0;
    margin: 0;
}

.popular_picture {
    width: 160px;
    height: 160px;
    background: var(--special_yellow);
    display: flex;
    justify-content: center;
    align-items: center;  
    margin-bottom: 39px;  
}

.popular_header {
    font-family: 'Gilroy', "Arial", sans-serif;
    font-weight: 800;
	font-size: 18px;
	line-height: 22px; 
    letter-spacing: 0.05em;
    width: 160px;
    text-align: left;    
}

.popular_item:hover .popular_picture {
    background-color: var(--special_yellow_dark);
}

.popular_item:active .popular_header {
    opacity: 0.3;
}

.popular_item:active .popular_picture {
    fill-opacity: 0.3;
}

/* Услуги */

.service {
    padding-top: 100px;
}

.service_back {
    padding-top: 10px;
    background-color: var(--basic_grey);
    position: relative; 
}

.service_container {
    width: 1160px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 90px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;  
    margin-top: -125px;          
}

.service_list {
    grid-column: 2/4;
}

.service_header,
.about_header,
.contact_header {
    font-family: 'Gilroy', "Arial", sans-serif;
    font-weight: 800;
	font-size: 47px;
	line-height: 58px; 
    letter-spacing: 0.2em;
}   

.service_header {
    margin-top: 0;
    margin-bottom: 40px;
}

.service_text {
    line-height: 30px; 
    letter-spacing: 0.1em;
}

.service_slider {
    padding-top: 15px;
}

.service_pag_list {
    width: 282px;
    padding-top: 80px;
    padding-bottom: 75px;
    border-right: var(--basic_black) 7px solid;
}

.service_pag_item {
    margin-bottom: 22px;
}

.service_button {
    width: 160px;
    margin-bottom: 10px;
}

.service_button:active,
.service_button_active,
.service_button_active:hover {
    border: none;
    padding-right: 120px;
    width: 275px; 
    background: var(--basic_black);
    color: var(--special_yellow); 
}

.service_text {
    font-family: 'opensans', sans-serif;
	font-size: 15px;
	line-height: 30px;
    letter-spacing: 0.1em;
}

.service_item {
    display: none;
    padding-top: 86px;
    padding-left: 6px;
}

.service_item_atcive {    
    display: block;
}


.service_item:nth-child(1) {
    background: url(../img/service/delivery.svg) no-repeat right;
}

.service_item:nth-child(2) {
    background: url(../img/service/warranty.svg) no-repeat right;
}
.service_item:nth-child(3) {
    background: url(../img/service/credit.svg) no-repeat right;
}

/* Бренды */

.brand {
    width: 1160px;
    margin-left: auto;
    margin-right: auto; 
    margin-bottom: 90px;  
}

.brand_list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 20px;
}

.brand_item {    
    filter: grayscale(1);
    opacity: 0.3;
}

.brand_item:hover {
    filter: grayscale(0);
    opacity: 1;
}

/* О нас */

.about_contact {
    width: 1160px;
    min-height: 580px;
    margin-left: auto;
    margin-right: auto; 
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
    margin-bottom: 85px;
}


.about_line,
.contact_line {
    margin-bottom: 50px;
}

.about,
.contact {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
}

.contact {
    padding-left: 10px;
}

.about_header,
.contact_header {
    margin-top: 0;
    margin-bottom: 38px;
}

.about_header::before,
.contact_header::before {
    content: "";
    display: block;
    width: 80px;
    height: 7px;
    background-color: var(--basic_black);
    margin-bottom: 50px;
    
}
.about_text,
.contact_text {
    font-family: 'OpenSans', sans-serif;
	font-size: 15px;
	line-height: 30px;
    margin-top: 0;
    margin-bottom: 36px;
}

.about_text:last-of-type {
    margin-bottom: 57px;
}

.delivery_list {
    list-style-image: url(../img/svg/point_delivery.svg);
    list-style-position: outside;
    padding-left: 15px;    
    margin-top: 0;
    margin-bottom: 0;
}

.delivery_item {
    list-style-type: disc;
    font-family: 'Gilroy', "Arial", sans-serif;
    font-weight: 800;
	font-size: 16px;
	line-height: 28px;
    padding-left: 17px; 
    margin-bottom: 15px;
}

.about_button,
.contact_button {
    padding: 0;
    margin-top: auto;
    min-width: 260px;
}

/* Контакты */

.contact_write_to_us:hover {
    background-color: var(--special_yellow_dark);
}

.contact_write_to_us:active {
    color: var(--basic_black_opacity30);   
}

.full_map {
    outline: 5px solid rgba(200, 200, 0, 0.7);
    outline-offset: -5px;
    display: none; /* Временное отключение видимости попапа*/
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.feedback_container {
    display: none; /* Временное отключение видимости попапа*/
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
}

.feedback {  
    width: 960px;
    padding: 90px 100px 70px 100px;
    background-color: var(--basic_white);
}

.feedback_item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 0;
    margin-bottom: 30px;
}

.feedback_name_field,
.feedback_email_field {
    width: 360px;
}

.feedback_input {
    width: 100%;
}

.feedback_textarea_field {
    width: 760px;
}

.feedback_textarea {
    width: 100%;
    min-height: 170px;
    
}

.feedback_input,
.feedback_textarea {
    margin-top: 10px;
    padding: 15px;
    background-color: var(--basic_grey_input);
    border: none;
    max-height: 220px;
    resize: vertical;
}

.button_close {
    width: 55px;
    height: 55px;
    border: none;
    outline: none;
    border-radius: 50%;
    padding: 0;
    position: absolute;
    top: 30px;
    right: 30px;
    opacity: 0.5;
}

.button_close:hover {
    opacity: 1;
}

.button_close:active {
    opacity: 0.3;
}

/* Подвальчик */

.footer_page {
    background-color: var(--basic_dark);
    color: var(--basic_white);
}

.footer_container {
    width: 1160px;
    margin-left: auto;
    margin-right: auto; 
    padding-top: 45px;
}

.logo_footer {
    color: var(--special_yellow_dark);
    margin-top: 20px;
}

.logo_footer:hover {
    opacity: 0.6;
}

.logo_footer:active {
    opacity: 0.3;
}

.footer_address, 
.footer_phone_number, 
.footer_phone_number a {
    color: inherit;
    font-style: normal;
}

.footer_menu_item a {
    color: inherit;
    display: flex;
}

.footer_menu_list {
    display: flex; 
    flex-wrap: wrap;
    justify-content: flex-end;
    opacity: 0.7;
}

.footer_menu_item:not(:first-child) {
    margin-left: 40px;
}

.footer_1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
    margin-bottom: 34px;    
}

.footer_menu_item:first-child a::before {  
    content: "";
    display: inline-block;  
    width: 20px;  
    height: 20px;  
    background: url(../img/svg/icon_user_footer.svg) no-repeat 50% 50%;    
}


.footer_menu_compare a::before {  
    content: "";
    display: inline-block;  
    width: 20px;  
    height: 20px;  
    background: url(../img/svg/compare_footer.svg) no-repeat 50% 50%;    
}

.footer_menu_cart a::before {  
    content: "";
    display: inline-block;  
    width: 20px;  
    height: 20px;  
    background: url(../img/svg/icon_cart_footer.svg) no-repeat 50% 50%;    
}

.footer_2 {
    display: grid;
    grid-template-columns: 250px 1fr 250px;
    margin-bottom: 53px;    
}

.footer_address {
    text-align: left;
}

.footer_nav_list {
    font-family: 'Gilroy', "Arial", sans-serif;
    font-weight: 800;
	font-size: 18px;
	line-height: 22px; 
    letter-spacing: 0.2em;
    text-transform: uppercase;
    margin-top: 0;
    display: flex; 
    flex-wrap: wrap;
    justify-content: center;   
}

.footer_nav_item:not(:last-child) {
    margin-right: 35px;    
}

.footer_phone_number {
    margin-top: 0;
    text-align: right;
}

.footer_nav_item a {
    color: inherit
}

.footer_3 {
    display: grid;
    grid-template-columns: 80px 1fr 80px;
    margin-bottom: 65px;
}

.footer_line {
    margin-top: 13px;
    width: 80px;
    height: 7px;
    background-color: var(--special_yellow_dark);
}

.academy {
    display: flex;
    justify-content: flex-end;
}

.social_list{
    display: flex;
    margin: 0 auto;
}

.social_item:not(:last-child) {
    margin-right: 20px;    
}

.footer_menu_item:hover,
.footer_nav_item:hover,
.academy:hover {
    opacity: 0.6;
}

.footer_menu_item:active,
.footer_nav_item:active,
 academy:active {
    opacity: 0.3;
}

.social_item {
    opacity: 0.5;
}

.social_item:hover {
    opacity: 1;
}

.social_item:active {
    opacity: 0.16;
}

/* catalog.html */
/* header */

.header_page_catalog {
    padding-bottom: 50px;
    margin-bottom: 45px;
}

/* main */

.catalog_title {
    font-family: 'Gilroy', "Arial", sans-serif;
    font-weight: 800;
	font-size: 47px;
	line-height: 58px;
    margin-bottom: 30px;
}

.bread_crumps_container {
    width: 1160px;
    padding-left: 60px;
    margin-left: auto;
    margin-right: auto;
}

.bread_crumbs_list {
    display: flex;
    font-size: 15px;
    line-height: 20px;
    margin-bottom: 50px;
}

.bread_crumbs_item:not(:last-child) {
    padding-right: 40px;
}

.bread_crumbs_item:not(:last-child)::after {
    content: '';
    background: url(../img/svg/icon_arrow_nav.svg) no-repeat center;
    position: absolute;
    right: 10px;
    width: 20px;
    height: 20px;
}

.bread_crumbs_item {
    opacity: 0.3;
    padding-right: 20px;
    position: relative;
}

.bread_crumbs_item:hover {
    opacity: 0.6;
}

.bread_crumbs_item:active {
    opacity: 0.1;
}

/* Первая полоса*/

.filter_sorting_container,
.filtration_block_container {
    display: grid;
    grid-template-columns: 1fr 330px 830px 1fr;
}

.filter_sorting_container::before {
    content: "";
    background-color: var(--basic_grey_dark);
}

.filter_sorting_container::after {
    content: "";
    background-color: var(--basic_grey);
}

.filter_title,
.sorting_title {
    font-family: 'Gilroy', "Arial", sans-serif;
    font-weight: 800;
	font-size: 16px;
	line-height: 20px; 
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

.sorting_title {
    margin-right: 75px;
}

.filter_container,
.sorting_container {
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 60px;
}

.filter_container {
    background-color: var(--basic_grey_dark) ;
    grid-column: 2;
}

.sorting_container {
    background-color: var(--basic_grey);
    grid-column: 3;
    display: flex;
}

.sorting_list{
    display: flex;
    flex-wrap: wrap;
    font-family: "OpenSans", "Arial", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
}

.sorting_item {
    margin-right: 30px;
}

.sorting_item label {
    opacity: 0.3;
}

.sorting_item label:hover {
    opacity: 0.6;
}

.sorting_list input:checked + label {
    opacity: 1;    
}

.sorting_item input {
    display: none;
}

.minmax_block {
    margin-left: auto;
}

.minmax_list {
    display: flex;
}

.minmax_item {
    margin-left: 20px;
}

.minmax_item input {
    display: none;
}

.minmax_item:first-child label {
    display: block;
    width: 10px;
    height: 10px;
    background: url(../img/svg/up.svg) no-repeat center;
}

.minmax_item:last-child label {
    display: block;
    width: 10px;
    height: 10px;
    background: url(../img/svg/down.svg) no-repeat center;
}

.minmax_item label {
    opacity: 0.2;
}

.minmax_item label:hover,
.minmax_item input:checked + label:hover {
    opacity: 0.4;
}

.minmax_item input:checked + label {
    opacity: 1;    
}

/* Блок фильтрации*/

.filtration_block_container::before {
    content: "";
    background-color: var(--basic_grey);
}

.filtration_form {
    padding-top: 70px;
    padding-left: 60px;
    width: 260px;
}

.filtration_block fieldset {
    padding: 0;
    margin: 0;
    margin-bottom: 40px;
    border: none;
}

.filtration_legend {
    font-family: 'Gilroy', "Arial", sans-serif;
    font-weight: 800;
    font-size: 14px;
	line-height: 17px; 
    letter-spacing: 0.1em;
    width: 100%;
    padding-top: 15px;
    border-top: 2px solid var(--basic_black);
    margin-bottom: 30px;
}

.filtration_block {
    background-color: var(--basic_grey); 
    grid-column: 2;
}

.product_block {
    grid-column: 3;
    padding-top: 70px;
    padding-left: 70px;
}

.filtration_block_price {
    font-family: 'Gilroy', "Arial", sans-serif;
    font-weight: 300;
    font-size: 14px;
	line-height: 16px;
    border: none;
    background-color: transparent;
}

.fieldset_list {
    font-family: "OpenSans", "Arial", sans-serif;
    font-weight: 300;
	font-size: 14px;
	line-height: 19px;
}

.fieldset_item {
    margin-bottom: 20px;       
}

.fieldset_item:hover {
    opacity: 0.6;      
}

.fieldset_item:active {
    opacity: 0.25;      
}

.fieldset_item label {
    padding-left: 40px;
    position: relative;
    display: block;
}

.fieldset_checkbox + label::before {
    content: "";
    width: 24px;
    height: 24px;
    border: 2px solid var(--basic_black);
    position: absolute;
    left: 0px;
    top: -2px;
}

.fieldset_checkbox:checked + label::after {
    content: "";
    width: 24px;
    height: 24px;
    background: url(../img/svg/check_mark.svg) no-repeat 50% 50%;
    position: absolute;
    left: 0px;
    top: -2px;
}

.fieldset_radio + label::before {
    content: "";
    width: 24px;
    height: 24px;
    border: 2px solid var(--basic_black);
    position: absolute;
    left: 0px;
    top: -2px;
    border-radius: 50%;
}

.fieldset_radio:checked + label::after {
    content: "";
    width: 8px;
    height: 8px;
    background-color: var(--basic_black);
    position: absolute;
    left: 8px;
    top: 6px;
    border-radius: 50%;
}


.filtration_button {
    width: 200px;
}    

.filtration_button:hover {
    background-color: var(--special_yellow_dark);
}

.filtration_button:active {
    color: var(--basic_grey);   
}

.product_cart_button:hover {
    background-color: var(--special_yellow_dark);
}

.product_cart_button:active {
    color: var(--basic_black_opacity30);   
}

.product_item {
    position: relative;
}

.product_picture {
    width: 360px;
    height: 380px;
    object-fit: contain;
}

.product_item:hover .product_picture {
    opacity: 0.7;
}

.product_button_block {
    width: 100%;
    height: 380px;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
}

.product_item:hover .product_picture + .product_button_block{
    display: flex;
}

.product_compare_button {
    font-family: 'OpenSans', sans-serif;
	font-size: 13px;
	line-height: 18px;
    letter-spacing: 0.1em;
    opacity: 0.5;
    text-transform: none;
    border: none;
    background-color: transparent;
}
.product_compare_button:hover {
    opacity: 1;
}
.product_compare_button:active {
    opacity: 0.2;
}

/* Каталог товаров*/

.product_list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 40px;
    row-gap: 50px;
    margin-bottom: 40px;
}

.product_header {
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
}

.product_new::before {    
    content: "";
    width: 62px;
    height: 62px;
    background-image: url(../img/svg/new.svg);
    position: absolute;
    top: 50px;
    right: 30px;
}

.product_title,
.product_price{
    text-transform: none;
    letter-spacing: 0.05em;
}

.product_price {
    font-weight: 300;
}

.product_pagination {
    background-color: var(--basic_grey_light);
    font-family: 'Gilroy', "Arial", sans-serif;
    font-weight: 800;
    font-size: 16px;
	line-height: 20px; 
    letter-spacing: 0.1em;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 80px;
}

.pagination_list {
    display: flex;
}

.pagination_item:not(:last-child) {
    margin-right: 30px;
}

.pagination_button_back,
.pagination_button_forward {
    padding: 25px 30px;
}

.pagination_button_back:hover,
.pagination_button_forward:hover {
    background-color: var(--basic_grey_pag);
}

.pagination_button_back:active,
.pagination_button_forward:active {
    background-color: var(--basic_grey_pag);
}

.pagination_button_back:active span,
.pagination_button_forward:active span {    
    opacity: 0.3;
}

.pagination_button {
    color: var(--basic_black_opacity30);
}

.pagination_button:hover {
    color: var(--basic_black);
    opacity: 0.6;
}

.pagination_button_active {
    color: var(--basic_black);
}

